<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <p>Hw 2</p>
    <p>Login page : /login</p>
    <p>Users page : /users</p>
    <p>Single user : /users/1</p>
    <p>Error user : /user/id that bigger length mass users default length = 3</p>
    <p>Querry : /users?city=lviv or /users?age=23</p>
</div>
</body>
</html>